html, body {
  height:100%;
  background-color: #B87333;
  }

.container-flex{
  font-family: 'Share', cursive;
  background-color: #E35335;
  }

.title{
    font-family: 'Ultra', serif;
    color: #2c1f08;
  }

  .calculator {
    width: 100%;
    height: 100%;
    background: #e7d6f2;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 30px auto;
}
.screen {
    height: 60px;
    background: #d7bfe8;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.button {
    background: #f1f6ff;
    border: none;
    border-radius: 10px;
    height: 60px;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}
.button:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.text {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

#calculate {
  background: #afd48d;
}

@media all and (max-width:30em) {
        .calcuBtn{
        display:block;
        margin:0.4em auto;
    }
         }