html, body {
  height:100%;
  background-color: #B87333;
  }

.container-flex{
  font-family: 'Share', cursive;
  background-color: #E35335;
  }

.title{
    font-family: 'Ultra', serif;
  }

@media all and (max-width:30em) {
        .calcuBtn{
        display:block;
        margin:0.4em auto;
    }
         }